In [2]:
var = 'Hello World!'
print(var)

Hello World!

Name Errors

In [6]:
var1 = 'Hello World'
print (var1)

Hello World

In [4]:
# Error
print(var11)

NameError: name 'var11' is not defined

In [ ]:
# Labelling with Intuition
a_t = 23

In [5]:
# Intuitive Labelling
age_teens = 23
print(age_teens)z

23

### Strings

In [7]:
# Comments
var2 = 'Learning'

In [8]:
var3 = 'Learning Introduction to Python'

In [9]:
print(var2)

Learning

In [10]:
print(var3)

Learning Introduction to Python

In [11]:
# Create a variable with double quotes
var4 ="Learning a new language"

In [12]:
# Apostrophe is introduced
var5 = 'TalentQL's learning Series'

SyntaxError: unterminated string literal (detected at line 2) (1936221255.py, line 2)

In [13]:
var5 = "TalentQL's learning Series"

In [14]:
# Introduce a method
print(var5)

TalentQL's learning Series

In [18]:
print(var5.upper())

TALENTQL'S LEARNING SERIES

List

In [19]:
# Create a list
lst = ['string']
lst

['string']

In [20]:
#List with different data types
lst = ['String', True, 34]

In [21]:
#Initialize with a list function
lst1 = list()

In [22]:
lst1

[]

In [23]:
# Access a list
#Len function
len(lst1)

0

In [24]:
len(lst)

3

In [25]:
# it has an index error because i indexed an empty list
lst1[0]

IndexError: list index out of range

In [26]:
lst[0]

'String'

### Modify Elements

In [27]:
# Create a new list
lst2 = ['John','Sam', 'Tolu', 'Jerry', 'Ada', 'Sultan']

In [29]:
# Add an element
lst2[0] = 'Pablo'

In [30]:
lst2

['Pablo', 'Sam', 'Tolu', 'Jerry', 'Ada', 'Sultan']

In [32]:
# Insert into a list
lst2.insert(2, 'Yusuf' )

In [33]:
lst2

['Pablo', 'Sam', 'Yusuf', 'Tolu', 'Jerry', 'Ada', 'Sultan']

In [34]:
# Add to a list - Append method
lst2.append('Mudia')

In [35]:
lst2

['Pablo', 'Sam', 'Yusuf', 'Tolu', 'Jerry', 'Ada', 'Sultan', 'Mudia']

In [52]:
# Insert an element
lst2.insert(0, 'Pablo')

In [53]:
lst2

['Pablo', 'Sam', 'Yusuf', 'Tolu', 'Jerry', 'Ada', 'Sultan', 'Mudia']

In [54]:
# Remove an element
lst2.remove('Pablo')

In [55]:
lst2

['Sam', 'Yusuf', 'Tolu', 'Jerry', 'Ada', 'Sultan', 'Mudia']

In [56]:
# Pop function
pop_lst = lst2.pop()

In [57]:
lst2

['Sam', 'Yusuf', 'Tolu', 'Jerry', 'Ada', 'Sultan']

In [58]:
pop_lst

'Mudia'

In [59]:
# Pop with an index
Pop_Sam = lst2.pop(0)

In [61]:
Pop_Sam

'Sam'